## Configuration file for CAVA. Default values are commented out. Use either ';' or '#' for commenting.

[general]
autosens = 1
# sensitivity = 2400

bars = 24
lower_cutoff_freq = 30
# higher_cutoff_freq = 5000
higher_cutoff_freq = 20000

sleep_timer = 10

[input]
method = pulse

[output]
method = raw
channels = mono
data_format = ascii
ascii_max_range = 6

[smoothing]
# Disables or enables the so-called "Monstercat smoothing" with or without "waves". Set to 0 to disable.
# monstercat = 1
waves = 1

# Noise reduction, float 0 - 100. default 77
# noise_reduction = 77
noise_reduction = 5

[eq]
# This one is tricky. You can have as much keys as you want.
# Remember to uncomment more than one key! More keys = more precision.
# Look at readme.md on github for further explanations and examples.
1 = 2 # bass
2 = 2
3 = 1 # midtone
4 = 1
5 = 1 # treble
